.splitter {
	text-shadow: 0 1px 0 #fff;
}

#feeds-column {
	background: #444;
}

#feeds-column #feeds {
	border-top: 1px dashed #333;
}
#feeds-column #filters {
	border-bottom: 1px solid #444;
}


#feeds li, #filters li {
	text-shadow: 0 1px 1px #222;
}

#feeds li .title, #filters li .title {
	color: #eee;
}

#feeds li .icon, #filters li .icon {
	background-clip: padding-box;
	background: #eee;
	border: 1px solid #444;
	box-shadow: none;
}

#feeds li .count, #filters li .count {
	background: #333;
	border: 1px solid #222;
	box-shadow: none;
	text-shadow: none;
	color: #eee;

}

#feeds li.feed.selected, #feeds li.filter.selected, #feeds li.label header.selected, #filters li.feed.selected, #filters li.filter.selected, #filters li.label header.selected {
	border-top: 1px solid #222;
	border-bottom: 1px solid #222;
	background: #333;
	box-shadow: none;
}

#articles-column {
	background: #555;
	color: #fff;
}
#articles::-webkit-scrollbar-track, #articles::-webkit-scrollbar-thumb {
	border-left: 1px solid #444;
}
#articles li {
	border-bottom: 1px solid #444;
	border-top: 1px solid #666;
}
#articles li header {
	color: #ddd;
	text-shadow: 0 1px 0 #333;
}
#articles li header .feed {
	color: #eee;
}
#articles li .title {
	color: #fff;
	text-shadow: 0 1px 1px #222;
}
#articles li .snippet {
	color: #eee;
	text-shadow: 0 1px 1px #333;
}
#articles li.read .title {
	color: #ddd;
	text-shadow: 0 1px 1px #333;
}
#articles li.read .snippet {
	color: #ccc;
	text-shadow: 0 1px 1px #444;
}
#articles li.selected {
	border-top: 1px solid #404040;
	border-bottom: 1px solid #666;
	background: #444;
	box-shadow: 0 -1px #5F5F5F, inset 0 -1px 0 #383838;
}
#articles .splitter + li.selected {
	padding-top: 0;
	box-shadow: 0 -1px #404040, inset 0 -1px 0 #383838;
	border-top: 1px solid #333;
}
#articles .splitter:first-child {
	border-top: 1px solid #444;
}
#articles .splitter {
	color: #fafafa;
	background: -webkit-linear-gradient(#555, #444);
	text-shadow: 0 1px 0 #222;
	border-top: 1px solid #434343;
	border-bottom: 1px solid #3c3c3c;
}
#search-input {
	box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1), 0 1px 0 #444;
}
#right-side > .vsplitbar {
	background: #555;
	border-right: 3px solid #555;
	border-left: 1px solid #444;
}
#right-side > .vsplitbar::after {
	border-top: 1px solid #333;
}

#post-column {
	background: #555;
}
.scope::after {
	border-bottom-color: #3E3E3E
}
.scope::before {
	border-bottom-color: #303030;
}
#articles-column.scope::after, #post-column.scope::after {
	border-bottom-color: #4d4d4d;
}
#articles-column.scope::before, #post-column.scope::before {
	border-bottom-color: #222;
}
#post {
	color: #eee;
	text-shadow: 0 1px 0 #444;
}
#post a {
	font-family: "Ubuntu", "Helvetica", "Arial", sans-serif;
	font-weight: normal;
	text-shadow: 0 1px 1px #222;
}
#post .post-link {
	border-bottom: 1px solid #444;
	box-shadow: 0 1px 0 #666;
}
#post .post-link .details {
	color: #ddd;
}
#post .post-link h1.title {
	color: #F4D6F1;
	text-shadow: 0 1px 0 #444;
}
#post img:not(.no-border), #post iframe {
	background: #222;
	border: none !important;
}

.bar {
	border-top: 1px solid #333;
}

#add-button {
	background-image: url('../img/night/btn_add.png');
}
#close-post-button {
	background-image: url('../img/night/btn_close.png');
}
#mark-all-as-read-trigger {
	background-image: url('../img/night/btn_mark_all_read.png');
}
#search-button {
	background-image: url('../img/night/btn_search.png');
}
#settings-button {
	background-image: url('../img/night/btn_settings.png');
}
#share-button {
	background-image: url('../img/night/btn_share.png');
}
#star-button {
	background-image: url('../img/night/btn_star.png');
}
#read-button {
	background-image: url('../img/night/btn_read.png');
}
#instapaper-button {
	background-image: url('../img/night/icon_instapaper.png');
}
#refresh-button {
	background-image: url('../img/night/sync.png');
}

#item-count {
	color: #fff;
	text-shadow: 0 1px 0 #444;
}

#app > .vsplitbar {
	background: #333;
}

#articles li.no-border.selected {
	border-bottom: 1px solid #444;
}

#articles li.selected.no-border {
	box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.1);
}